.grid {
    margin:0;
    padding:0;
    width: 35px;
    height: 35px;
    border-style:solid;
    border-width: 1px;
    /*border-left: 0px;*/
    /*border-bottom: 0px;*/
    display:inline-block;
    text-align: center;
    vertical-align: bottom;
}
/*#rowShip0 .border, #row1 .border, #row2 .border, #row3 .border, #row4 .border, #row5 .border, #row6 .border, #row7 .border, #row8 .border, #row9 .border {*/
    /*border-bottom: 0px;*/
/*}*/


#gridSalvoTable{
    margin: 10px;
    margin-left: 40px;
    display: inline-block;
}

#gridShipTable {
    margin: 10px;
    display: inline-block;
}

.salvoOpponent {
    border-radius: 15px;
    background-color: rosybrown;
    width:100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display:inline-block;
    height:100%;
}
#gridShipTable div, #gridSalvoTable div{
    position:relative
}

.salvoPlayer {
    border-radius: 15px;
    background-color: darkred;
    width:100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.text {
    line-height: 2;
}

#destroyer3 div,  #patrol_boat2 div, #submarine3 div, #battleship4 div, #aircraft_carrier5 div{
    height: 35px;
    width: 35px;
    background-color: darkred;
    display: inline-block;
}
#drag1 {
    height: 35px;
    width: 35px;
    background-color: green;
    display: inline-block;
}

#destroyer3 {
    height: 35px;
    width: 109px;
    background-color: darkred;
    margin-bottom: 15px;
}

#patrol_boat2 {
    height: 35px;
    width: 73px;
    background-color: darkred;
    margin-bottom: 15px;
}

#battleship4 {
    height: 35px;
    width: 146px;
    background-color: darkred;
    margin-bottom: 15px;
}

#submarine3 {
    height: 35px;
    width: 109px;
    background-color: darkred;
    margin-bottom: 15px;
}

#aircraft_carrier5 {
    height: 35px;
    width: 183px;
    background-color: darkred;
    margin-bottom: 15px;
}








