.grid {
    margin:0;
    padding:0;
    width: 35px;
    height: 35px;
    border-style:solid;
    border-width: 1px;
    /*border-left: 0px;*/
    /*border-bottom: 0px;*/
    display:inline-block;
    text-align: center;
    vertical-align: bottom;
}
/*#rowShip0 .border, #row1 .border, #row2 .border, #row3 .border, #row4 .border, #row5 .border, #row6 .border, #row7 .border, #row8 .border, #row9 .border {*/
    /*border-bottom: 0px;*/
/*}*/


#gridSalvoTable{
    margin: 10px;
    margin-left: 40px;
    display: inline-block;
}

#gridShipTable {
    margin: 10px;
    display: inline-block;
}

.salvoOpponent {
    border-radius: 15px;
    background-color: rosybrown;
    width:100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display:inline-block;
    height:100%;
}
td {
    position:relative
}

.salvoPlayer {
    border-radius: 15px;
    background-color: darkred;
    width:100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.text {
    line-height: 2;
}

/*#row1 div:first-child {*/
    /*border-top: 1px;*/
    /*border-bottom: 0px;*/
/*}*/
/*#row2 div:first-child {*/
    /*border-top: 02px;*/
    /*border-bottom: 0px;*/
/*}*/
/*#row3 div:first-child {*/
    /*border-top: 0px;*/
    /*border-bottom: 0px;*/
/*}*/
/*#row4 div:first-child {*/
    /*border-top: 0px;*/
    /*border-bottom: 0px;*/
/*}*/
/*#row5 div:first-child {*/
    /*border-top: 0px;*/
    /*border-bottom: 0px;*/
/*}*/
/*#row6 div:first-child {*/
    /*border-top: 0px;*/
    /*border-bottom: 0px;*/
/*}*/
/*#row7 div:first-child {*/
    /*border-top: 0px;*/
    /*border-bottom: 0px;*/
/*}*/
/*#row8 div:first-child {*/
    /*border-top: 0px;*/
    /*border-bottom: 0px;*/
/*}*/
/*#row9 div:first-child {*/
    /*border-top: 0px;*/
    /*border-bottom: 0px;*/
/*}*/
/*#row10 div:first-child {*/
    /*border-top: 0px;*/
    /*border-bottom: 0px;*/
/*}*/




